.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 1800px;
    height: 80px;
    font-family: Roboto-Bold;
    font-size: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 0px 0px 12px 1px #2196F3;
    }

    &__number {
        position: relative;
        padding-left: 30px;
        width: 3%;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 80px;
            background-color: #B2B2B2;;
            right: 0;
            top: -25.5px;
        }
    }

    &__country {
        position: relative;
        padding-left: 30px;
        width: 67%;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 80px;
            background-color: #B2B2B2;;
            right: 0;
            top: -25.5px;
        }
    }

    &__totalConfirmed {
        padding-left: 30px;
        width: 30%;
    }
}

.tableHeader {
    background: #2196F3;
    color: #fff;
    border-radius: 20px;
    cursor: auto;
    &:hover {
        box-shadow: none;
    }
}